.wrapperMoviePage {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/src/pages/img/theater-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color:beige;
    overflow: hidden;
    height: 100vh;
}
.searchBarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    gap: 8px;
}
.searchBarInput {
    min-width: 200px;
    font-size: 18px;
    background-color:beige;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgb(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
}
.searchBarInput:hover,
.searchBarInput:focus {
    border-color: #ff914c;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.1);
    outline: none;
}
.searchBarBtn {
    font-size: 18px;
    padding: 7px 12px;
    color: #fff;
    background-color: #ff914c;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}
.searchBarBtn:hover {
    background-color: orange;
    box-shadow: 0 4px 6px rgb(0, 0, 0, 0.2)
}
