.header {
    display: flex;
    align-items: center;
    justify-content:flex-start;
    padding: 8px;
    width: 100vw;
    margin-bottom: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
h3 {
    margin: 0px;
}
.nav {
    display: flex;
    gap: 12px;
}